integration/n8n/Book_Summary.json
{
  "name": "V2",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const organic = $json.organic || [];\nif (!organic.length) {\n  return [{ json: { error: \"No search results\", query: $json.searchParameters?.q } }];\n}\n\n// domains we usually DON'T want to scrape as the main source\nconst blacklist = [\n  \"amazon.\",\n  \"goodreads.com\",\n  \"wikipedia.org\",\n  \"wiktionary.org\",\n  \"reedsy.com\",\n  \"canva.com\",\n  \"quora.com\",\n];\n\nfunction score(item) {\n  const url = (item.link || \"\").toLowerCase();\n  let s = 0;\n\n  // Prefer \"author/publisher\" style sources and content pages\n  if (url.includes(\"jamesclear.com\")) s += 20;       // example boost (safe)\n  if (url.includes(\"blog\") || url.includes(\"article\")) s += 2;\n\n  // Penalize blacklisted domains\n  for (const b of blacklist) if (url.includes(b)) s -= 20;\n\n  // Prefer higher rank\n  const pos = item.position ?? 100;\n  s += Math.max(0, 10 - pos);\n\n  return s;\n}\n\nconst ranked = organic\n  .map(o => ({ ...o, _score: score(o) }))\n  .sort((a, b) => b._score - a._score);\n\nconst best = ranked[0];\n\nreturn [{\n  json: {\n    sessionId: $json.sessionId,\n    query: $json.searchParameters?.q ?? $json.query,\n    best_url: best.link,\n    best_title: best.title,\n    best_snippet: best.snippet,\n    candidates: ranked.slice(0, 5).map(x => ({\n      title: x.title,\n      link: x.link,\n      position: x.position,\n      score: x._score\n    }))\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -160
      ],
      "id": "b36075d3-d61d-41cd-bad3-31d8d3b7e49d",
      "name": "Pick Best URL"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-b0d7667b253c467fbef5d0d11088248a"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.best_url }}\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        32
      ],
      "id": "bae02f50-8304-485e-a8e5-ad43a9cabde2",
      "name": "Firecrawl Scrape"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd7f0d56-0326-4bfd-8972-dc9162f1410f",
              "name": "query",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "a080e3e2-3a60-4b44-83d1-192dd220f6ad",
              "name": "lang",
              "value": "en",
              "type": "string"
            },
            {
              "id": "96c459d6-72af-484d-a19b-84eca810c4a4",
              "name": "max_results",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "sessionId",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -160
      ],
      "id": "87a10e10-668a-4132-b928-535384c69fa4",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "fbbb453ea62363e067724373fbdbdd820acd2ae4"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{ $json.query }}\",\n  \"num\": {{ $json.max_results }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        336,
        32
      ],
      "id": "049905bb-f192-4215-9f19-a8c814342870",
      "name": "Search (Serper)"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.data?.markdown || \"\";\n\nif (!raw || raw.length < 200) {\n  return [{ json: { error: \"No usable markdown content\" } }];\n}\n\n// 1) Basic cleaning\nlet cleaned = raw\n  // remove image markdown\n  .replace(/!\\[.*?\\]\\(.*?\\)/g, \"\")\n  // remove excessive links-only lines\n  .replace(/^\\[.*?\\]\\(.*?\\)$/gm, \"\")\n  // normalize newlines\n  .replace(/\\n{3,}/g, \"\\n\\n\")\n  .trim();\n\n// 2) Chunking\nconst CHUNK_SIZE = 1200; // characters (safe for LLMs)\nconst chunks = [];\n\nfor (let i = 0; i < cleaned.length; i += CHUNK_SIZE) {\n  chunks.push(cleaned.slice(i, i + CHUNK_SIZE));\n}\n\n// 3) Output\nreturn chunks.map((text, index) => ({\n  json: {\n    sessionId: $json.sessionId,\n    source_url: $json.best_url,\n    chunk_index: index + 1,\n    total_chunks: chunks.length,\n    content: text\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -160
      ],
      "id": "173aa491-361a-4173-8750-3a3866054c81",
      "name": "Clean & Chunk Content"
    },
    {
      "parameters": {
        "availableInChat": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -16,
        32
      ],
      "id": "0bf60ded-05d6-40e6-a9f8-e49bd2ce5369",
      "name": "Chat Trigger",
      "webhookId": "c9246975-d480-4fd8-9cb2-bf69f6000dda"
    },
    {
      "parameters": {
        "jsCode": "// Keep only chunks that look like real \"book info\" (not store/editions/noise)\n\nconst badPatterns = [\n  /international editions/i,\n  /other languages/i,\n  /english language/i,\n  /book depository/i,\n  /buy the book/i,\n  /get your copy/i,\n  /claim your free bonuses/i,\n  /bonus guide/i,\n  /habit tracker/i,\n  /companion reading guide/i,\n  /youtube/i,\n  /watch later/i,\n  /share/i,\n  /copy link/i,\n  /shopping/i,\n  /tap to unmute/i,\n  /more videos/i,\n  /signed out/i,\n  /goodreads reviews/i,\n  /print\\s*ebook\\s*audio/i\n];\n\nfunction isMostlyNoise(text) {\n  let hits = 0;\n  for (const re of badPatterns) if (re.test(text)) hits++;\n  return hits >= 2; // tune: 2+ patterns = noisy\n}\n\nconst items = $input.all();\n\nconst kept = items.filter(it => {\n  const t = (it.json.content || \"\").trim();\n  if (t.length < 250) return false;\n  if (isMostlyNoise(t)) return false;\n  return true;\n});\n\n// If we filtered everything by accident, fall back to original items\nconst finalItems = kept.length ? kept : items;\n\nreturn finalItems.map((it, idx) => ({\n  json: {\n    ...it.json,\n    filtered_index: idx + 1,\n    filtered_total: finalItems.length\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        32
      ],
      "id": "7f929f64-e9f2-49c7-a6e2-2516895783dc",
      "name": "Filter useful chunks"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a helpful assistant that summarizes book-related content.\n\nRules:\n- Always write in clear, fluent English\n- Focus only on information useful to understand the book\n- Ignore ads, purchase instructions, bonuses, emails, and navigation text\n- Do not repeat quotes unless they add value\n- Be concise but informative\n- Output plain text (no markdown, no emojis)"
            },
            {
              "content": "=Summarize the following text extracted from a book webpage:\n\n{{ $json.content }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1248,
        32
      ],
      "id": "c6e909bc-0c8e-4460-bcdc-be870bfbf54d",
      "name": "OpenAI — Summarize Chunk",
      "credentials": {
        "openAiApi": {
          "id": "EtSUGxP0lEXK0xs0",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Pick Best URL": {
      "main": [
        [
          {
            "node": "Firecrawl Scrape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Search (Serper)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search (Serper)": {
      "main": [
        [
          {
            "node": "Pick Best URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Scrape": {
      "main": [
        [
          {
            "node": "Clean & Chunk Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean & Chunk Content": {
      "main": [
        [
          {
            "node": "Filter useful chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter useful chunks": {
      "main": [
        [
          {
            "node": "OpenAI — Summarize Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2eec431c-cedd-40c0-82b8-b91bfd91ba37",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7cf473aeea6b7d675e1524fdc48773b41697ada5c726974863bb06f25c8d2a9"
  },
  "id": "x0XkweSBfom_CQVxdWsy0",
  "tags": []
}